<!DOCTYPE html>
<html>
<head>
  <title>ProjectOne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="player_nav">
    <% if current_player %>
      Logged in as <%= current_player.name %>.
      <%= link_to "Games", games_path %>
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
  </div>
  <div id="scoreboard">
    <table>
<% (0..5).each do |player| %>
  </table>
  <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
  <% end %>



<%= yield %>

</body>
</html>
